<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:each="pedido : ${pedidos}">
		<div th:text="${pedido.nome}">Nome do Produto</div>
		<div>
			Valor: <span th:text="${pedido.valor}">140,90</span>
		</div>
		<div>
			Data de Entrega <span th:text="${pedido.dataEntrega}">10/04/2021</span>
		</div>

		<div>Produto</div>
		<div>Url Prodot: <input th:value="${pedido.urlProduto}"/></div>

		<div>Descrição</div>
		<div>
			<textarea th:text="${pedido.descricao}">descrição pedido</textarea>
		</div>

		<div>
			<img th:src="${pedido.urlImagem}" src="imagem" alt="imagem_produto" />
		</div>
	</div>
</body>
</html>
