<!DOCTYPE html>
<html>
<head th:replace="~{base :: head}"></head>
<div  th:replace="~{base::titulo('Meus Pedidos')}"></div>

<div class="mt-2 d-flex justify-content-between mt-4">
	<div class="nav nav-tabs col-10" id="nav-tab" role="tablist">
		<button class="nav-link active" id="nav-todos-tab"
			data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
			role="tab" aria-controls="nav-home" aria-selected="true">
			Todos</button>
		<button class="nav-link" id="nav-aguardando-tab" data-bs-toggle="tab"
			data-bs-target="#nav-profile" type="button" role="tab"
			aria-controls="nav-profile" aria-selected="false">
			Aguardando</button>
		<button class="nav-link" id="nav-aprovado-tab" data-bs-toggle="tab"
			data-bs-target="#nav-contact" type="button" role="tab"
			aria-controls="nav-contact" aria-selected="false">Aprovando</button>
		<button class="nav-link" id="nav-entregue-tab" data-bs-toggle="tab"
			data-bs-target="#nav-entrega" type="button" role="tab"
			aria-controls="nav-entrega" aria-selected="false">Entregue</button>
	</div>
	<div class="ms-9 col-sm-1">
		<a href="/pedido/formulario"
			class="btn btn-outline-secondary my-2 my-sm-0" type="button">Novo
		</a>
	</div>
</div>
<div class="m-3">
	<div class="tab-content" id="nav-tabContent">
		<div class="tab-pane fade show active alert alert-secondary"
			id="nav-home" role="tabpanel" aria-labelledby="nav-todos-tab">Todos
			os produtos</div>
		<div class="tab-pane fade alert alert-warning" id="nav-profile"
			role="tabpanel" aria-labelledby="nav-aguardando-tab">Produtos
			Pendentes</div>
		<div class="tab-pane fade alert alert-success" id="nav-contact"
			role="tabpanel" aria-labelledby="nav-aprovado-tab">Produtos
			Aprovados</div>
		<div class="tab-pane fade alert alert-primary" id="nav-entrega"
			role="tabpanel" aria-labelledby="nav-entregue-tab">Produtos
			Entregues</div>
	</div>
</div>
</div>
</nav>

<div th:each="pedido : ${pedidos}" class="card mb-4">
	<div th:text="${pedido.nome}" class="card-header">Nome doProduto</div>
	<div class="card-body">
		<div class="row">
			<div class="col-12 col-sm-8 mb-3">
				<div class="row">
					<div class="col-md-5">
						Valor: <span th:text="${pedido.valor}">140,90</span>
					</div>
					<div class="col-md-7">
						Data de Entrega <span th:text="${pedido.dataEntrega}">10/04/2021</span>
					</div>
				</div>

				<div>Produto</div>
				<div>
					<input th:value="${pedido.urlProduto}" class="form-control"
						placeholder="Url produto" />
				</div>

				<div>Descrição</div>
				<div>
					<textarea th:text="${pedido.descricao}" class="form-control">descrição pedido</textarea>
				</div>
			</div>

			<div class="col-12 col-sm-4">
				<div>
					<img th:src="${pedido.urlImagem}" src="imagem" alt="imagem_produto"
						class="img-fluid img-thumbnail" />
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</body>
</html>
